<article>
    <img src="{{article.thumbnail.url}}" alt="article.title" width="300" height="auto">
    <h1>{{article.title}}</h1>
    <small>{{article.publish}}</small>
    <p>{{article.description}}</p>
</article>