<center>
    {% for article in articles %}
        <article>
            <img src="{{article.thumbnail.url}}" alt="article.title" width="300" height="auto">
            <h1><a href="{% url 'blog2:article_detail' article.slug %}">{{article.title}}</a></h1>
            <small>{{article.publish}}</small>
            <p>{{article.description}}</p>
        </article>
    {% endfor %}
</center>
