{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% block title-meta %}
افزودن مقاله
{% endblock %}{% endblock %}

{% block main %}
    <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title float-left mb-0">افزودن مقاله</h3>
          </div>
          <!-- /.card-header -->
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                  <div class="form-group col-md-6 mb-0">
                    {{ form.title|as_crispy_field }}
                  </div>
                  <div class="form-group col-md-6 mb-0">
                    {{ form.slug|as_crispy_field }}
                  </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-0">
                        {{ form.description|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.category|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.thumbnail|as_crispy_field }}
                        {{ form.publish|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.author|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.status|as_crispy_field }}
                    </div>
                </div>
                <button class="btn btn-success">افزودن مقاله</button>
            </form>
        </div>
    </div>
{% endblock %}

