{% extends 'registration/base.html' %}

{% block title-meta %}{% block title %}
لیست مقالات
{% endblock %}{% endblock %}


{% block main %}
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body table-responsive p-0">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>عنوان مقاله</th>
                  <th>تصویر کوچک</th>
                  <th>خلاصه</th>
                  <th>دسته‌بندی</th>
                  <th>نویسنده</th>
                  <th>تاریخ انتشار</th>
                  <th>وضعیت مقاله</th>
                </tr>
              </thead>
              <tbody>
                {% for article in object_list %}
                    <tr>
                        <td>{{article.title}}</td>
                        <td>
                            <img src="{{article.thumbnail.url}}" width="100px">
                        </td>
                        <td>{{article.description|striptags|truncatewords:"10"}}</td>
                        <td>{{article.category_to_str}}</td>
                        <td>{{article.author.get_full_name}}</td>
                        <td>{{article.jalali_publish}}</td>
                        <td>
                            {% if article.status == 'p' %}
                                <span class="badge badge-success">منتشر شده</span>
                                <a href="{% url 'blog3:article_details' article.slug %}" class="badge badge-primary" target="_blank">نمایش مقاله در سایت</a>
                            {% else %}
                                <span class="badge badge-danger">پیش‌نویس</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
{% endblock %}
