<ul class="navbar-nav ms-auto py-4 py-lg-0" role="navigation">
    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'blog3:home' %}">خانه</a></li>
    {% for cat in category %}
        {% if cat.parent == None %}
            <li class="nav-item">
                <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'blog3:category' cat.slug %}">{{cat.title}}</a>
                {% if cat.children.active_category %}
                    {% include 'blog3/partials/category_loop.html' %}
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>
