<!--This is home.html file. Hello World!-->

{% for product in products %}
<article>
    <h1>{{product.title}}</h1>
    <img src="{{product.img}}" alt="{{product.title}}">
    <p>{{product.description}}</p>
</article>
{% endfor %}

<p>username: {{username}}<p>
<p>age: {{age}}<p>
<p>job: {{job}}<p>