@import url('https://v1.fontapi.ir/css/Sahel');

body {
    text-align: right !important;
    direction: rtl !important;
    font-family: Sahel !important;
}

.btn-show-pass {
    left: 0 !important;
    right: initial !important;
}

.login100-form-title {
    font-family: Sahel !important;

}

.errors {
    background-color: #fdf1f1;
    color: #bd7070;
    padding: 20px 30px;
}
