{% extends 'blog3/base.html' %}
{% load static %}
{% block title%} {{article.title}}| {% endblock %}
{% block custome-header %}
<link rel="stylesheet" type="text/css" href="red.css">
{% endblock %}

{% block main %}
<!-- Page Header-->
        <header class="masthead" style="background-image: url('{{article.thumbnail.url}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>{{object.title}}</h1>
                            <span class="subheading">A Blog Theme by Start Bootstrap</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {{object.description|safe}}
            </div>
        </div>
    </div>
</article>
{% endblock %}