{% extends 'blog3/list.html' %}
{% load static %}
{% block site_heading %}
    <div class="site-heading">
        <h1>سیلسیم</h1>
    </div>
{% endblock %}

{% block previous_page_url %}
    {% url 'blog3:home' page_obj.previous_page_number %}
{% endblock %}

{% block next_page_url %}
    {% url 'blog3:home' page_obj.next_page_number %}
{% endblock %}