{% extends 'blog3/list.html' %}
{% load static %}
{% block site_heading %}
    <div class="site-heading">
        <h1>mehrafarin weblog</h1>
    </div>
{% endblock %}

{% block category_title %}
    <h4 class="alert alert-primary text-center">دسته‌بندی: {{category.title}}</h4>
{% endblock %}

{% block previous_page_url %}
    {% url 'blog3:category' category.slug page_obj.previous_page_number %}
{% endblock %}

{% block next_page_url %}
    {% url 'blog3:category' category.slug page_obj.next_page_number %}
{% endblock %}