{% extends 'blog3/base.html' %}
{% load static %}
{% block main %}
<!-- Page Header-->
        <header class="masthead" style="background-image: url({% static 'blog3/assets/img/home-bg.jpg' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7 p-custome">
                        {% block site_heading %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {% block category_title %}{% endblock %}
                    {% for article in object_list %}
                        <!-- Post preview-->
                        <div class="post-preview">
                            <a href="{% url 'blog3:article_details' article.slug %}">
                                <h2 class="post-title">{{article.title}}</h2>
                                <h3 class="post-subtitle">{{article.description|striptags|truncatewords:30}}</h3>
                            </a>
                            <p class="post-meta">
                                نوشته شده توسط
                                <a href="{% url 'blog3:author' article.author %}">{{article.author.get_full_name}}</a>
                                {{article.persian_publish_date}}
                            </p>
                            <div>
                                {% for cat in article.category.active_category %}
                                    <a href="{% url 'blog3:category' cat.slug %}">#{{cat.title}}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />
                    {% endfor %}

                    {% if is_paginated %}
                        <div class="d-flex justify-content-end mb-4">
                            {% if page_obj.has_previous %}
                                <a class="btn btn-primary text-uppercase old_post"
                                   href="{% block previous_page_url %}{% endblock %}">
                                    پست‌های قدیمی →
                                </a>
                            {% endif %}

                            {% if page_obj.has_next %}
                                <a class="btn btn-primary text-uppercase"
                                   href="{% block next_page_url %} {% endblock %}">
                                    پست‌های جدید →</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}